/* html{
    box-sizing: border-box;
} */
* {
    margin: 0;
    padding: 0;

}
html {
    Height: 100vh;
    width: 100%;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url("/assets/img/playa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;

  }
div.principal{
    padding-top: 10px;
}

h1.presentacion-sitio span{
    position:relative;
    text-shadow: 0 0 30px black;
}

h1.presentacion-sitio{
    font-size: 3vw;
    font-family: 'PT Sans', sans-serif;
    margin: 10px;
}

p.mi-nombre {
    text-transform: none!important;
    font-family: 'PT Sans', sans-serif;
    margin: 10px;
}

p.mi-nombre span {
    font-weight: bold;
}