/* html{
    box-sizing: border-box;
} */
html {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    background-image: url(../assets/img/playa.jpg);
    background-repeat: no-repeat;
  }
div.principal{
  
    padding: 5px 5px;

    height: 100vh;
    width: 100vw;
    
}

h1.presentacion-sitio span{
    position:relative;
    text-shadow: 0 0 30px black;
}

h1.presentacion-sitio{
    font-size: 3vw;
    font-family: 'PT Sans', sans-serif;
    margin: 10px;
}

p.mi-nombre {
    text-transform: none!important;
    font-family: 'PT Sans', sans-serif;
    margin: 10px;
}

p.mi-nombre span {
    font-weight: bold;
}